<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Recipe Home</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"
          th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}">

    <script src="/webjars/jquery/1.11.1/jquery.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous" th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap-5.3.min.js}"></script>
</head>
<body>
<div class="container-fluid" style="margin-top: 20px">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="pannel-group">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h1 class="panel-title" > Name  </h1>
                        <h2 class="panel-title" th:text="${user.name}">//Name//</h2>
                    </div>

                </div>
<!--                <div class="panel panel-primary">-->
<!--                    <div class="panel-heading">-->
<!--                        <h1 class="panel-title"> UserName</h1>-->
<!--                        <h2 class="panel-title" th:text="${user.username}">//UserName//</h2>-->
<!--                    </div>-->

                </div>
                <div>
                    <a href="#" th:href="@{'/me/' + ${user.id} + '/ingredients/new'}" class="btn btn-default">Add Ingredient</a>
                </div>
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h1 class="panel-title">Owner`s Ingredients</h1>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                <ul>
                                    <li th:remove="all">1 Cup of milk</li>
                                    <li th:remove="all">1 Teaspoon of chocolate</li>
                                    <li th:each="contentsIngredient : ${user.amountPresent}"
                                        th:text="${(contentsIngredient.amount +
                                                                    ' ' + contentsIngredient.ingredient.type +
                                                                    ' - ' + contentsIngredient.ingredient.name)}">1 Teaspoon of
                                        Sugar
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!--                <div class="panel panel-primary">-->
                <!--                    <div class="panel-heading">-->
                <!--                        <div class="row">-->
                <!--                            <div class="col-md-11 ">-->
                <!--                                <h1 class="panel-title">Ingredients</h1>-->
                <!--                            </div>-->
                <!--                            <div class="col-md-1">-->
                <!--                                <a class="btn btn-default" href="#" th:href="@{'/recipe/' + ${recipe.id} + '/ingredients'}" role="button">View</a>-->
                <!--                            </div>-->
                <!--                        </div>-->
                <!--                    </div>-->
                <!--                    <div class="panel-body">-->
                <!--                        <div class="row">-->
                <!--                            <div class="col-md-12">-->
                <!--                                <ul>-->
                <!--                                    <li th:remove="all">1 Cup of milk</li>-->
                <!--                                    <li th:remove="all">1 Teaspoon of chocolate</li>-->
                <!--                                    <li th:each="ingredient : ${recipe.ingredients}"-->
                <!--                                        th:text="${(ingredient.getAmount() +-->
                <!--                                        ' ' + ingredient.uom.getDescription() +-->
                <!--                                        ' - ' + ingredient.getDescription())}">1 Teaspoon of Sugar</li>-->
                <!--                                </ul>-->
                <!--                            </div>-->
                <!--                        </div>-->
                <!--                    </div>-->
                <!--                </div>-->
            </div>
        </div>
    </div>
</div>
</body>
</html>
<!--<body>-->
<!--&lt;!&ndash;/*@thymesVar id="recipes" type="java.util.List"*/&ndash;&gt;-->
<!--&lt;!&ndash;/*@thymesVar id="recipe" type="guru.springframework.domain.Recipe"*/&ndash;&gt;-->
<!--<div class="container-fluid" style="margin-top: 20px">-->
<!--    <div class="row">-->
<!--        <div class="col-md-6 col-md-offset-3">-->
<!--            <div class="panel panel-primary">-->

<!--                <div class="panel-heading">-->
<!--                    <h1 class="panel-title">User Profile</h1>-->
<!--                </div>-->
<!--                <div class="panel-body">-->
<!--                    <div class="table-responsive">-->
<!--                        <table class="table table-hover ">-->
<!--                            <thead class="thead-inverse">-->
<!--                            <tr>-->
<!--                                <th>Id</th>-->
<!--                                <th>Username</th>-->
<!--                                <th>Name</th>-->
<!--                            </tr>-->
<!--                            </thead>-->
<!--                            </tr>-->
<!--                                <td th:text="${user.id}">334</td>-->
<!--                                <td th:text="${user.name}">Tasty Goodnees 3</td>-->
<!--                            </tr>-->
<!--                        </table>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<!--</body>-->
</html>